---
layout: default
title: THEY'RE DELICIOUS!
---

<ul id="posts">
{% for post in paginator.posts %}
    <li class="post">
        <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <div class="gif">
            <a href="{{ post.url }}"><img src='/images/{{ post.image }}' alt='{{ post.title }}' /></a>
        </div>
        <div class="fb-like" data-href="http://animatedpizzagifs.com{{ post.url}}" data-send="true" data-width="620" data-show-faces="false" data-font="arial"></div>
        {% if post.content %}
        <div class="content">
            {{ post.content }}
        </div>
        {% endif %}
        <div class="credit">
        {% if post.credit_name != null and post.credit_url != null %}
            <strong>Credit:</strong> <a href="{{ post.credit_url }}">{{ post.credit_name }}</a>
        {% elsif post.credit_name and post.credit_url == null %}
            <strong>Credit:</strong> {{ post.credit_name }}
        {% elsif post.credit_name == null and post.credit_url != null %}
            <strong>Credit:</strong> <a href="{{ post.credit_url }}">{{ post.credit_url }}</a>
        {% else %}
            <strong>Credit:</strong> No idea, <a href="mailto:me@clintecker.com?subject=credit+this+gif+you+jerk">email me!</a>
        {% endif %}
        </div>
    </li>
{% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<div id="post-pagination" class="pagination">
  <ul class="pages">
  {% if paginator.previous_page %}
  <li class="page previous">
    {% if paginator.previous_page == 1 %}
    <a href="/">Previous</a>
    {% else %}
    <a href="/page{{paginator.previous_page}}">Previous</a>
    {% endif %}
  </li>
  {% else %}
  <li class="page previous disabled">
    <span>Previous</span>
  </li>
  {% endif %}

    <li class="page">
      {% if paginator.page == 1 %}
      <span class="current-page">1</span>
      {% else %}
      <a href="/">1</a>
      {% endif %}
    </li>

    {% for count in (2..paginator.total_pages) %}
    <li class="page">
      {% if count == paginator.page %}
      <span class="current-page">{{count}}</span>
      {% else %}
      <a href="/page{{count}}">{{count}}</a>
      {% endif %}
    </li>
    {% endfor %}

  {% if paginator.next_page %}
  <li class="page next">
    <a href="/page{{paginator.next_page}}">Next</a>
  </li>
  {% else %}
  <li class="page next disabled">
    <span>Next</span>
  </li>
  {% endif %}
  </ul>
</div>
{% endif %}

