---
layout: default
---

<div class="post single">
    <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
    <div class="gif">
        <img src='/images/{{ page.image }}' alt='{{ page.title }}' />
    </div>
    {% if content %}
    <div class="content">
        {{ content }}
    </div>
    {% endif %}
    <div class="fb-like" data-href="http://animatedpizzagifs.com{{ page.url}}" data-send="true" data-width="620" data-show-faces="false" data-font="arial"></div>
    <div class="credit">
    {% if page.credit_name != null and page.credit_url != null %}
        <strong>Credit:</strong> <a href="{{ page.credit_url }}">{{ page.credit_name }}</a>
    {% elsif page.credit_name and page.credit_url == null %}
        <strong>Credit:</strong> {{ page.credit_name }}
    {% elsif page.credit_name == null and page.credit_url != null %}
        <strong>Credit:</strong> <a href="{{ page.credit_url }}">{{ page.credit_url }}</a>
    {% else %}
        <strong>Credit:</strong> No idea, <a href="mailto:me@clintecker.com?subject=credit+this+gif+you+jerk">email me!</a>
    {% endif %}
    </div>
    <hr />
    <div class="fb-comments" data-href="http://animatedpizzagifs.com{{ page.url }}" data-width="620" data-num-posts="5"></div>
</div>
